name: Build Godot Project
on:
  push:
    branches:
      - "*"

env:
  GODOT_VERSION: "4.6-stable"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
      - name: Install Godot Engine
        uses: "./.github/actions/install-godot"
        with:
          version: "4.6-stable"
          sha_256: "6bcc59dfd1d670e918c77eae06e82b9dc5699de13d353dc3a4b3b6b307b6dc06"
          platform: "linux.x86_64"
      - name: Build Example Game
        run: make
      - name: Build Example Mods
        run: make example-mods

